@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  width: 100%;

}

h2{
  white-space: pre-wrap;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-text-decoration: none;
}

.navbar-collapse {
  background-color: $background_color;
  border-radius: 8px;
}

.nav-item {
  align-self: end;
  margin-right: 48px;

  @media(max-width: $desktop_width) {

    margin-right: 20px;
  }

  @media(max-width: $tablet_width) {
    align-self: center;
  }
}

.nav-link {
  color: $secondary_text_color !important;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

}

footer {

  p {
    font-family: $main_font;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: $primary_text_color;
  }
}

.swiper{
  height: 100%;
}

.services_swiper_parent{

  .swiper-pagination{

    bottom: -5px !important;
  }
}




@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  body {
    color: black;
    background: $background_color;
  }
}