@import 'variables';

.container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.hero {
  width: 100%;

  .hero_texts {

    width: $desktop_width;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 75px;

    .title {
      @include h1_desktop;
      text-align: center;
      margin-bottom: 24px;
    }

    .description {
      @include p_desktop;
      text-align: center;
      color: $primary_text_color;
      max-width: 800px;
      margin: 0 auto;

    }
  }

  .image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover;
  }

}

.about {

  display: flex;
  width: $desktop_width;
  height: 784px;
  padding: 80px 0px;
  flex-direction: row;
  gap: 32px;

  .about_texts {
    align-self: center;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 24px;
    justify-items: start;

    .about_title {
      @include h1_desktop;
    }

    .about_description {
      @include p_desktop;
    }
  }

  .about_images {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .about_image1 {
      align-self: flex-start;
    }

    .about_image2 {
      align-self: flex-end;
    }
  }


}

.services {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: $desktop_width;
  padding: 80px 0px;

  .services_title {
    @include h1_desktop;
  }

  .services_cards {
    margin-top: 56px;
    height: 340px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: $desktop_width;
  padding: 80px 0px;

  .projects_title {
    @include h1_desktop;
  }

  .projects_cards {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

}

.contact_bg {

  width: 100%;
}

@media(max-width: $desktop_width) {

  .hero .hero_texts {
    width: $tablet_width;
    margin-bottom: 50px;
  }

  .about {
    width: $tablet_width;
    flex-direction: column;
    height: unset;
    padding: 50px 0px;

    .about_images {
      height: 651px;

      img {
        width: 325px;
        height: 558px;
      }
    }
  }

  .services {
    width: $tablet_width;
    padding: 50px 0px;

    .services_cards {
      margin-top: 16px;
      height: 395px;
    }
  }

  .projects {
    width: $tablet_width;
    padding: 50px 0px;

    .projects_cards {
      margin-top: 16px;
      flex-direction: column;
      gap: 32px;
    }
  }
}


@media(max-width: $tablet_width) {

  .hero .hero_texts {
    width: $mobile_width;
    margin-top: 30px;
    margin-bottom: 30px;

    .title{
      @include h1_mobile;
    }

    .description{
      @include p_mobile;
    }
  }

  .about {
    width: $mobile_width;
    padding: 48px 0px;

    .about_title {
      @include h1_mobile;
    }

    .about_description {
      @include p_mobile;
    }

    .about_images {
      height: 317px;

      img {
        width: 158px;
        height: 271px;
      }
    }
  }

  .services {
    width: $mobile_width;
    padding: 48px 0px;

    .services_title {
      @include h1_mobile;
    }

    .services_cards {
      height: 375px;
    }
  }

  .projects {
    width: $mobile_width;
    padding: 48px 0px;

    .projects_title {
      @include h1_desktop;
    }
  }
}