@import 'variables';

.navbar {
    width: 100%;
    box-shadow: 0px 0px 10px 0px #00000040;
    display: flex;
    height: 84px;
    justify-content: center;

    .navbar_content {

        width: $desktop_width;

        .logo {
            color: #9D9D9D;
        }

        .contact_us {
            background-color: $primary_color;
            width: 129px;
            height: 44px;
            padding: 12px 20px 12px 20px;
            border-radius: 5px;
            gap: 4px;
            justify-content: center;

            .contact_us_text {
                font-size: 12px;
                color: white !important;
                padding: 0 !important;
                margin: 0 !important;
                text-align: center;
                font-weight: 600;
            }
        }

    }
}

@media(max-width: $desktop_width) {

    .navbar .navbar_content {
        width: $tablet_width;
    }
}

@media(max-width: $tablet_width) {

    .navbar .navbar_content {
        width: 100%;
    }
}