@import 'variables';

.main{
    display: grid;
    width: 100%;
    padding: 30px;
    gap: 20px;
    box-shadow: 0px 0px 10px 0px #0000001A;
    border-radius: 12px;
    grid-template-rows: 3fr 8fr;
    height: 200px;

    .title{
        @include h2_desktop;
        align-items: center;
    }

    .description{
        @include p_desktop;
        align-self: start;
    }
}

@media(max-width: $desktop_width){

    .main{
        height: 295px;
        grid-template-rows: 2fr 3fr;
        padding: 25px;

        .title{
            align-self: center;
        }

        .description{
            align-self: start;
        }
    }
}

@media(max-width: $tablet_width){

    .main{
        height: 280px;
        padding: 25px;

        .image{
            height: 64px;
        }
    }
}
